astroid==3.2.4
asttokens==2.4.1
black==24.8.0
click==8.1.7
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
dill==0.3.8
executing==2.0.1
icecream==2.1.3
isort==5.13.2
mccabe==0.7.0
mypy==1.11.1
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.2.2
Pygments==2.18.0
pylint==3.2.6
pywinstyles==1.8
six==1.16.0
tomli==2.0.1
tomlkit==0.13.0
typing_extensions==4.12.2
